<?xml version="1.0"?>
            <configuration>
                <connectionStrings>
                    <add name="kalonedzyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\王洁\Desktop\Hotel\kalonedzy.mdb"
                        providerName="System.Data.OleDb" />
                </connectionStrings>
                <appSettings>
                  <!-- 连接字符串 -->
					      <!--<add key="ConnectionString" value="User ID=root;Database=kalonedzy; Password=123456; Host=localhost; Port=3306;Protocol=TCP; Compress=false; Pooling=false; Min Pool Size=0;Max Pool Size=100; Connection Lifetime=0;Charset=utf8 "/>-->
                <add key="ConnectionString" value="User ID=root;Database=zdsc1; Password=123456; Host=127.0.0.1; Port=3306;Protocol=TCP; Compress=false; Pooling=false; Min Pool Size=0;Max Pool Size=100; Connection Lifetime=0;Charset=utf8 "/>
               </appSettings>
                <system.web>
                    <compilation debug="true" targetFramework="4.0" />
                    <globalization requestEncoding="utf-8" responseEncoding="utf-8"   fileEncoding="utf-8" />
                </system.web>
            </configuration>
